app/code/local/RedInGo/Kid/xsd/ceny_stany.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ceny_stany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="art">
          <xs:complexType>
            <xs:all>
              <xs:element name="s" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
              <xs:element name="cd" minOccurs="1" maxOccurs="1">
			  <xs:complexType>
				<xs:attribute name="n" type="xs:decimal" use="required" />
				<xs:attribute name="b" type="xs:decimal" use="required" />
			  </xs:complexType>
			  </xs:element>
			  <xs:element name="cp" minOccurs="0" maxOccurs="1">
			  <xs:complexType>
				<xs:attribute name="n" type="xs:decimal" use="required" />
				<xs:attribute name="b" type="xs:decimal" use="required" />
			  </xs:complexType>
			  </xs:element>
			  <xs:element name="ca" minOccurs="0" maxOccurs="1">
			  <xs:complexType>
			  <xs:sequence>
              <xs:element name="c" minOccurs="0" maxOccurs="unbounded">
			  <xs:complexType>
			    <xs:attribute name="idc" type="xs:unsignedLong" use="required" />
				<xs:attribute name="n" type="xs:decimal" use="required" />
				<xs:attribute name="b" type="xs:decimal" use="required" />
			  </xs:complexType>	
			  </xs:element>
			  </xs:sequence>
			            </xs:complexType>
        </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:unsignedLong" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>