app/code/local/RedInGo/Kid/xsd/kategorie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="kat">
          <xs:complexType>
            <xs:all>
              <xs:element name="nazwa" type="xs:string" />
              <xs:element name="id_nad" type="xs:unsignedInt" />
              <xs:element name="poziom" type="xs:unsignedInt" />
			  <xs:element minOccurs="0" name="par">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>