app/code/local/RedInGo/Kid/xsd/stawki_vat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stawki_vat">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="kod_vat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stawka" type="xs:decimal" minOccurs="1" />
            </xs:sequence>
            <xs:attribute name="kod" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>