app/code/local/RedInGo/Kid/xsd/warianty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="warianty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="art">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="par">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="p">
                      <xs:complexType>
                        <xs:attribute name="n" type="xs:string" use="required" />
                        <xs:attribute name="w" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element  minOccurs="0" name="war">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="w">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="p">
                            <xs:complexType>
                              <xs:attribute name="n" type="xs:string" use="required" />
                              <xs:attribute name="w" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="cen">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="c">
                                  <xs:complexType>
                                    <xs:attribute name="idc" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="n" type="xs:decimal" use="required" />
                                    <xs:attribute name="b" type="xs:decimal" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="idw" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="nw" type="xs:string" use="required" />
                        <xs:attribute name="kkw" type="xs:unsignedLong" use="optional" />
                        <xs:attribute name="s" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>