app/code/local/RedInGo/Kid/xsd/zamowienia_statusy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zamowienia_statusy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zam" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
				<xs:element name="s" type="xs:string" minOccurs="1"/>
				<xs:element name="sr" type="xs:string" minOccurs="1"/>
				<xs:element name="b" type="xs:unsignedByte" minOccurs="0"/>
              
              <xs:element name="p" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="kb" type="xs:decimal" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
			  <xs:element name="f" type="xs:string" minOccurs="0"/>
			  <xs:element name="fp" type="xs:string" minOccurs="0"/>
			  
            </xs:all>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>